


/* header {
  background-image:url("./image/sand_2.jpg");
  align-items: center;
text-align:center;} */
/* .mr-2 { margin-right: 0.5em; align-items: center;} */
/* .ig-1 {display:flex; flex-direction:row; align-items:center;} */
/* .mb-3 {display:flex; flex-direction:row;} */
/* .header.item { flex-direction:row; margin-top: 2ex; text-align: center;} */


.buttonsearch {
  background-color: white;
  color: black;
  mar
  margin-left: 2px;
}
.icon {

    margin-right: 0.5em;

    height: 30px;

}
.file.item {
  align-items: flex-start;
}
.word.card {
  margin-top: 2ex;
}
.card.center {

  text-align: center;
  /* align-content: center; */
  background-color: blue;
  color: white;
}
.search.button {
color: black;
background-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.ui.list {
    margin-top: 5em;
  text-align: center;
}
